@use 'variables' as *;
@use 'mixins' as *;

// ══════════════════════════════════════════════════════════
// Menu — Nav menu, sub-menu
// ══════════════════════════════════════════════════════════

ul.menu.nav-menu ul.sub-menu .mega-sub-option {
	letter-spacing: 1.5px;
}

ul.menu.nav-menu ul.sub-menu .mega-sub-option a {
	font-size: 16px;
}

@include tablet {
	ul.menu.nav-menu {
		font-size: 14px;
	}
}

@include desktop {
	ul.menu.nav-menu {
		font-size: 16px;
	}
}